[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
ipython = "*"

[packages]
beautifulsoup4 = "*"
flask-cors = "*"
werkzeug = "==1.0.0"
cachelib = "*"
cchardet = "*"
aiodns = "*"
httpx = "*"
fastapi = "*"
uvicorn = "*"
gunicorn = "*"

[requires]
python_version = "3.8.1"
